@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

div{
    margin: 0;
}

p{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./img/dreaming-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    margin: 10% auto 0px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 6px;
    padding: 20px 40px;
    border: 3px solid rgba(43, 124, 255, 0.472);
}

.select-style{
    border: none;
}

.select-style option{
    background-color: #D3D3D3;
}

label{
    font-family: 'Slabo', serif;
    font-weight: bold;
    color: rgba(43, 124, 255, 0.842);
    font-size: 20px;
}

option{
    font-weight: bold;
}

.form-field {
    margin-bottom: 35px;
}

.form-field span {
    text-align: center;
}

.form-field label {
    margin:0px;
    text-align:right;
    width: 55px;
    margin-right: 10px;
}

.form-field input {
    border:0;
    border-bottom: 1px solid #D3D3D3;
    outline: none;
}

.form-field input:focus, .form-field input:hover {
    border-bottom: 1px solid rgba(43, 124, 255, 0.472);
    background-color: rgba(211, 211, 211, 0.239);
}

.input-center{
    text-align: center;
}

.input-center input{
    width: 175px;
}

.dd-type{
    display: block;
    text-align: center;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);    
    top: 0px;
    left: 0px;
    z-index: -1;
}

.title{
    font-family: 'Lobster', cursive;
    color:#abc6d7;
}

.this {
    display: none;
}

.height-width-lenght-inputs{
    text-align: center;
}

.size-n-weight-input{
    text-align: center;
}

.height-width-lenght-inputs :nth-child(2){
    margin: 0 5%;
}

.height-width-lenght-inputs input{
    width: 75px;
}

/* warnin for furniture */

.alert{
    color: green;
    text-align: center;
}

/* Inputs Style */

.form-control{
    margin: 20px 0px;
}

.error{
    display: block;
    margin: auto;
    margin-top: 15px;
}

.error-type{
    display: block;
    text-align: center;
}

.btn-style{
    width: 70%;
    display: block;
    margin: auto;
    background-color: rgba(43, 124, 255, 0.472);
    color: rgb(255, 255, 255);
    border: none;
}

.btn-style:hover{
    background-color: rgba(43, 124, 255, 0.739);
    color: rgb(255, 255, 255);
}

.btn-style a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

@media only screen and (max-width: 755px) {

    .input-center input{
        width: 75px;
    }

    .size-n-weight-input input{
        width: 80px;
    }
}
