@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

body{
    background-color: rgba(153, 146, 199, 0.267);
}   

.container{
    padding-top: 50px;
}

.tittle{
    font-size: 42px;
    color: rgba(28, 18, 136, 0.815);
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

hr{
    border: 1px solid #8f75b14b;
}

.deletebtn-checkbox-linkbtn{
    height: 38px;
    display: flex;
    justify-content: flex-end;
}

.deletebtn-checkbox-linkbtn p{
    font-size: 18px;
    font-weight: bold;
    color: rgba(82, 148, 253, 0.924);
}

.delete-btn{
    display: flex;
    justify-content: end;
    border: none;
    background-color: rgba(255, 134, 130, 0.842);
    color: rgb(255, 255, 255);
}

.delete-btn:hover{
    border: none;
    background-color: rgba(255, 29, 21, 0.842);
    color: rgb(255, 255, 255);
}

.link-btn{
    border: none;
    background-color: rgba(43, 124, 255, 0.226);
}

.link-btn a{
    width: 100%;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.link-btn:hover{
    border: none;
    color: aliceblue;
    background-color: rgba(43, 124, 255, 0.315);
}

.product-box{
    border: 1px solid rgba(172, 172, 172, 0.19);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px 45px 45px 45px;
    background-color:  rgba(82, 148, 253, 0.068);
}

.product-dinamic-info p{
    font-size: 14px;
    font-weight: bold;
    color: rgba(228, 88, 24, 0.842);
}

.product-box:hover{
    box-shadow: 0 2px 4px 0 rgba(144, 144, 144, 0.19), 0 6px 15px 0 rgba(144, 144, 144, 0.19);
    background-color:  rgba(25, 113, 255, 0.178);
}

.product-basic-info p, .product-basic-info h5{
    font-size: 18px;
    font-family: 'Slabo', serif;
    font-weight: 600;
    color: rgba(28, 18, 136, 0.815);
}
